<header class="header-toolbar mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-space-maximized">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      {{!-- <a href="#" class="material-icons mdc-toolbar__icon--menu">menu</a> --}}
      <button class="menu material-icons mdc-toolbar__icon--menu">{{this.menuIcon}}</button>
      {{!-- <span class="mdc-toolbar__title">{{this.site}}</span> --}}
    </section>
    <section class="mdc-toolbar__section">
      <span class="mdc-toolbar__title">{{this.site}}</span>
      {{!-- <img class="responsive-image" src="http://diversitygroupconsult.com/images/logo.png"> --}}
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
      {{!-- <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download" alt="Download">file_download</a>
      <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
      <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a> --}}
    </section>
  </div>
</header>

<aside class="mdc-temporary-drawer mdc-typography">
  <nav class="mdc-temporary-drawer__drawer">
    <header class="mdc-temporary-drawer__header">
      <div class="mdc-temporary-drawer__header-content mdc-theme--primary-bg mdc-theme--text-primary-on-primary">
        {{!-- <img class="responsive-image" src="http://diversitygroupconsult.com/images/logo.png"> --}}
        Menu Header
      </div>
    </header>

    <div class="mdc-list-group">
      <nav class="mdc-list">
        {{#each this.pages}}
          {{!-- Key: {{@key}} --}}
          <{{this.menu.element}} class="{{this.menu.class}}" href="{{this.menu.path}}">
            <i class="{{this.menu.iconClass}}" aria-hidden="true">{{this.menu.icon}}</i>{{this.menu.name}}
          </{{this.menu.element}}>
        {{/each}}
      </nav>
      {{!-- <hr class="mdc-list-divider"> --}}
    </div>
  </nav>
</aside>

<main>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      {{#each this.pages.index.gridItems}}
        <{{this.element}} class="{{this.class}}">
          <!-- grid item -->
          <article>
            {{#each this.content}}
              {{!-- Key: {{@key}} --}}
              <{{this.element}} class="{{this.class}}">
                {{this.text}}
              </{{this.element}}>
            {{/each}}
          </article>
          <!-- end grid item -->
        </{{this.element}}>
      {{/each}}
    </div>
  </div>
</main>

{{!-- <footer class="mdc-theme--primary-bg"></footer> --}}

<footer class="mdc-toolbar">
  {{!-- <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="#" class="material-icons mdc-toolbar__icon--menu">menu</a>
      <span class="mdc-toolbar__title">Title</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
      <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download" alt="Download">file_download</a>
      <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
      <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
    </section>
  </div> --}}
</footer>